kbd {
    padding: 2px 8px;
    border: 1px solid rgba(63,63,63,.25);
    box-shadow: 0 1px 0 rgba(63,63,63,.25);
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    display: inline-block;
    margin: 0 2px;
    white-space: nowrap
}

.hover-image {
    position: absolute;
    display: none;
    top: -128px; /* 调整这个值来控制图片显示的位置，确保图片在按钮上方 */
    left: -64px;
    width: 128px; /* 根据需要调整图片大小 */
    height: auto;
    z-index: 1; /* 确保图片在按钮下方 */
    border-radius: 5px; /* 圆角 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* 阴影效果 */
}
.fa-weixin:hover ~ .hover-image {
    display: block;
}