public/
content/test/
venv

.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
.cache/
cover/
build/
bin/
docs/_build
requests.egg-info/
*.pyc
*.swp
*.egg
*.pdf
env/
.venv/
.eggs/
.tox/
.pytest_cache/
.codecc/
.vscode/
**/*.pyc
.workon

# in case you work with IntelliJ/PyCharm
.idea
*.iml
.python-version

dist

/.mypy_cache/
*/__pycache__
.codecc

